// 功能css

@base_1x: 8px;
@base_2x: 16px;
@border_color: #f0f0f0;
@color_success: #52c41a;
@color_info: #1890ff;
@color_warning: #faad14;
@color_error: #ff4d4f;
@color_gray_light: #f0f0f0;
@color_gray: #8c8c8c;
@color_gray_dark: #262626;
@color_black: #000000;
@color_white: #ffffff;

// border

.border {
  border: 1px solid @border_color !important;
}

.border_l {
  border-left: 1px solid @border_color !important;
}

.border_r {
  border-right: 1px solid @border_color !important;
}

.border_t {
  border-top: 1px solid @border_color !important;
}

.border_b {
  border-bottom: 1px solid @border_color !important;
}

.border_v {
  border-top: 1px solid @border_color !important;
  border-bottom: 1px solid @border_color !important;
}

.border_h {
  border-right: 1px solid @border_color !important;
  border-left: 1px solid @border_color !important;
}

// padding

.padding_l_base {
  padding-left: @base_1x !important;
}

.padding_t_base {
  padding-top: @base_1x !important;
}

.padding_r_base {
  padding-right: @base_1x !important;
}

.padding_b_base {
  padding-bottom: @base_1x !important;
}

.padding_v_base {
  padding-top: @base_1x !important;
  padding-bottom: @base_1x !important;
}

.padding_h_base {
  padding-left: @base_1x !important;
  padding-right: @base_1x !important;
}

.padding_base {
  padding: @base_1x !important;
}

.padding_l_2x {
  padding-left: @base_2x !important;
}

.padding_t_2x {
  padding-top: @base_2x !important;
}

.padding_r_2x {
  padding-right: @base_2x !important;
}

.padding_b_2x {
  padding-bottom: @base_2x !important;
}

.padding_v_2x {
  padding-top: @base_2x !important;
  padding-bottom: @base_2x !important;
}

.padding_h_2x {
  padding-left: @base_2x !important;
  padding-right: @base_2x !important;
}

.padding_2x {
  padding: @base_2x !important;
}

// margin

.margin_l_base {
  margin-left: @base_1x !important;
}

.margin_t_base {
  margin-top: @base_1x !important;
}

.margin_r_base {
  margin-right: @base_1x !important;
}

.margin_b_base {
  margin-bottom: @base_1x !important;
}

.margin_v_base {
  margin-top: @base_1x !important;
  margin-bottom: @base_1x !important;
}

.margin_h_base {
  margin-left: @base_1x !important;
  margin-right: @base_1x !important;
}

.margin_base {
  margin: @base_1x !important;
}

.margin_l_2x {
  margin-left: @base_2x !important;
}

.margin_t_2x {
  margin-top: @base_2x !important;
}

.margin_r_2x {
  margin-right: @base_2x !important;
}

.margin_b_2x {
  margin-bottom: @base_2x !important;
}

.margin_v_2x {
  margin-top: @base_2x !important;
  margin-bottom: @base_2x !important;
}

.margin_h_2x {
  margin-left: @base_2x !important;
  margin-right: @base_2x !important;
}

.margin_2x {
  margin: @base_2x !important;
}

// text color

.text_info {
  color: @color_info !important;
}

.text_success {
  color: @color_success !important;
}

.text_warning {
  color: @color_warning !important;
}

.text_error {
  color: @color_error !important;
}

.text_gray_light {
  color: @color_gray_light !important;
}

.text_gray {
  color: @color_gray !important;
}

.text_gray_dark {
  color: @color_gray_dark !important;
}

.text_white {
  color: @color_white !important;
}

.text_black {
  color: @color_black !important;
}

// background color

.bg_info {
  background-color: @color_info !important;
}

.bg_success {
  background-color: @color_success !important;
}

.bg_warning {
  background-color: @color_warning !important;
}

.bg_error {
  background-color: @color_error !important;
}

.bg_gray_light {
  background-color: @color_gray_light !important;
}

.bg_gray {
  background-color: @color_gray !important;
}

.bg_gray_dark {
  background-color: @color_gray_dark !important;
}

.bg_white {
  background-color: @color_white !important;
}

.bg_black {
  background-color: @color_black !important;
}

// border color

.border_info {
  border: 1px solid @color_info !important;
}

.border_success {
  border: 1px solid @color_success !important;
}

.border_warning {
  border: 1px solid @color_warning !important;
}

.border_error {
  border: 1px solid @color_error !important;
}

.border_gray_light {
  border: 1px solid @color_gray_light !important;
}

.border_gray {
  border: 1px solid @color_gray !important;
}

.border_gray_dark {
  border: 1px solid @color_gray_dark !important;
}

.border_white {
  border: 1px solid @color_white !important;
}

.border_black {
  border: 1px solid @color_black !important;
}

// text align

.text_right {
  text-align: right !important;
}

.text_left {
  text-align: left !important;
}

.text_center {
  text-align: center !important;
}

.text_justify {
  text-align: justify !important;
}

// display

.disp_inline {
  display: inline !important;
}

.disp_block {
  display: block !important;
}

.disp_inline_block {
  display: inline-block !important;
}

.full_width {
  width: 100% !important;
}

.full_height {
  height: 100% !important;
}

.text_collapse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.as_btn {
  user-select: none;
  cursor: pointer;
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }
}